[submodule "router"]
	path = router
	url = git@github.com:LockedThread/knighthacks_router.git
[submodule "events"]
	path = events
	url = git@github.com:LockedThread/knighthacks_events.git
[submodule "sponsors"]
	path = sponsors
	url = git@github.com:LockedThread/knighthacks_sponsors.git
[submodule "users"]
	path = users
	url = git@github.com:LockedThread/knighthacks_users.git