[submodule "knighthacks_sponsors"]
	path = knighthacks_sponsors
	url = git@github.com:KnightHacks/knighthacks_sponsors.git
[submodule "knighthacks_users"]
	path = knighthacks_users
	url = git@github.com:KnightHacks/knighthacks_users.git
[submodule "knighthacks_events"]
	path = knighthacks_events
	url = git@github.com:KnightHacks/knighthacks_events.git
[submodule "knighthacks_router"]
	path = knighthacks_router
	url = git@github.com:KnightHacks/knighthacks_router.git
[submodule "knighthacks_shared"]
	path = knighthacks_shared
	url = git@github.com:KnightHacks/knighthacks_shared.git
[submodule "knighthacks_hackathon"]
	path = knighthacks_hackathon
	url = git@github.com:KnightHacks/knighthacks_hackathon.git
